*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}
.nav{
  background: white;
  height: 100vh;
  width: 5.88542vw;
  float: left;
  transition: 1s;
  z-index: 100;
  position: fixed;
}
.fierosochka{
  position: absolute;
  right: -3px;
  top: 0;
  width: 3px;
  height: 1px;
  background: #c2ac7e;

}

.open{
  width: 8.82813vw;
}
.btn{
  display: block;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  padding: 0;
  outline: none;
}
.btn div{
  height: 4px;
  width: 100%;
  background: #c2ac7e;
  margin: 8px 0 0 0;
  transition: 2s;
}


.main{
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.inner-screen-left{
  height: 1px;
  opacity: 0;
  display: inline-block;
  /*width: 31.23541666666667vw;*/
  width: 32%;
  background: lightgrey;
  transition: 2s;
}
.inner-screen-left-active{
  opacity: 1;
  height: 100vh;
  display: block;
}
.inner-screen-right{
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  opacity: 0;
  /*width: 68.76458333333333vw;*/
  width: 68%;
  height: 1px;
  background: grey;
  transition: 2s;

}
.inner-screen-right-active{
  opacity: 1;
  height: 100vh;
  display: block;
}
